body {
  background: #fff;
  color: #444;
  font-family: muli-regular;
  overflow-x: hidden;
}

a {
  color: #1b3c72;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

*,
::after,
::before {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

h2 {
  position: relative;
  color: #012068;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 20px;
  font-family: muli-regular;
  text-transform: uppercase;
}

h3 {
  position: relative;
  color: #012068;
  font-weight: 700;
  line-height: 1.3em;
  font-family: muli-regular;
  font-size: 1.2rem;
}

h2 span {
  color: #3241ff;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

ol,
ul {
  padding-left: 0;
}

@font-face {
  font-family: muli-regular;
  src: url(./fonts/muli-cufonfonts/Muli-Regular.ttf);
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background-color: #f8f8f8;
  font-size: 14px;
  padding: 0;
  height: 52px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #1b3c72;
}

#topbar .contact-info i span {
  padding-left: 5px;
  color: #444;
  letter-spacing: 1px;
  font-size: 12px;
}

#topbar .form-control {
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid rgb(208, 208, 208);
}

.form-control:focus {
  color: rgb(33, 37, 41);
  background-color: rgb(255, 255, 255);
  border-color: none;
  outline: 0px;
  box-shadow: none;
}

#topbar .btn-primary {
  border-radius: 0 5px 5px 0 !important;
}

#topbar .contact-info i:nth-child(2) {
  margin: 0 15px !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
}

#header #logo h1 a span {
  color: #1b3c72;
}

#header #logo img {
  padding: 0;
  margin: 0;
}
.hamburger {
  display: none;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}
@media screen and (max-width: 768px) {
  #header {
    height: 60px;
  }

  #header #logo h1 {
    font-size: 34px;
  }

  #header #logo img {
    max-height: 40px;
  }

  .hamburger {
    display: block;
  }
  #navbar ul {
    align-items: start;
  }

  .nav-menu {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 111px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
    z-index: 9999;
    background-color: #fff;
  }
  .nav-menu li a {
    margin: 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 999;
    transition: 0.2s ease;
  }
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #6e6e6e;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: capitalize;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #1b3c72;
}

/*--------------------------------------------------------------
Slider 
--------------------------------------------------------------*/
.about-section {
  position: relative;
  padding: 95px 0px 0px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.about-section .content-column {
  position: relative;
}

.about-section .content-column .inner-column {
  position: relative;
}

.about-section .content-column .inner-column .sec-title {
  margin-bottom: 30px;
}

.carousel a.btn-box {
  position: relative;
  display: inline-block;
  padding: 14px 30px 14px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
}

.carousel a.btn-box {
  position: relative;
  display: inline-block;
  padding: 14px 30px 14px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
}

.carousel a.btn-box:hover {
  background: none;
  border-color: #3241ff;
  color: #3241ff;
  text-decoration: none;
}

.sec-title .title {
  position: relative;
  font-size: 15px;
  color: #012068;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.sec-title h2 {
  position: relative;
  color: #012068;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 20px;
}

.sec-title h2 span {
  color: #3241ff;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.sec-title h2:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 3px;
  background-color: #012068;
}

.carousel-item-container p {
  color: #444;
  font-size: 18px;
}

.sec-title {
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column .text {
  position: relative;
  margin-bottom: 35px;
}

.about-section .content-column .inner-column .text p {
  position: relative;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 15px;
}

.about-section .content-column .inner-column .text p:last-child {
  margin-bottom: 0px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  padding-left: 0;
  color: #011a55;
}

.carousel-item {
  position: relative;
}

.carousel-item-container {
  width: 100%;
  height: 80vh;
}
.carousel-item-container div {
  position: absolute;
}
#carousel-item-1 {
  background: url("./images/slide03.jpg") no-repeat center;
  background-size: 100%;
  position: relative;
}
#carousel-item-2 {
  background: url("./images/slide02.jpg") no-repeat center;
  background-size: 100%;
  position: relative;
}
#carousel-item-3 {
  background: url("./images/slide01.jpg") no-repeat center;
  background-size: 100%;
  position: relative;
}

#carousel-item-1 h2 {
  position: relative;
}

#carousel-item-1 div,
#carousel-item-2 div,
#carousel-item-3 div {
  background: rgba(255, 255, 255, 0.8);
  max-width: 45%;
  width: 100%;
  color: #fff;
  padding: 30px;
  bottom: 0;
  border-radius: 0 32px 0 0;
  border-right: 8px solid #525977;
}

/*--------------------------------------------------------------
About us Video
--------------------------------------------------------------*/
.about-section .video-column {
  position: relative;
}

.about-section .video-column .inner-column {
  position: relative;
  padding-left: 30px;
  padding-top: 65px;
}

.about-section .video-column .inner-column .video-box {
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 50px;
}

.video-box .image {
  position: relative;
  overflow: hidden;
  margin: 0px;
}

.video-box {
  position: relative;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 20%);
}

.video-box .image img {
  position: relative;
  width: 100%;
}

.video-box .overlay-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 80px;
  background: rgba(19, 184, 234, 0.08);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.video-box .overlay-box:hover {
  background: rgba(0, 0, 0, 0.45);
}

.video-box:hover .overlay-box span {
  transform: rotate(360deg);
}

.video-box .overlay-box span {
  position: relative;
  width: 80px;
  height: 80px;
  top: 40%;
  z-index: 99;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  padding-left: 4px;
  background-color: #3241ff;
  display: inline-block;
  margin-top: -40px;
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
}

.flaticon-play-button:before {
  content: "\f11c";
}

.flaticon-play-button:before {
  content: "\f11c";
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.fact-counter {
  position: relative;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.fact-counter .column {
  position: relative;
  z-index: 5;
}

.fact-counter .count-outer {
  position: relative;
  font-weight: 700;
  color: #3241ff;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.fact-counter .count-outer .count-text {
  position: relative;
  font-weight: 700;
  color: #3241ff;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.fact-counter .column .counter-title {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #012068;
  margin-top: 14px;
  text-transform: capitalize;
  display: block;
}

.video-content {
  margin-top: 85px;
  padding: 50px 0;
  background-color: #f1f1f1;
}

/*--------------------------------------------------------------
Connect us
--------------------------------------------------------------*/
section.connect {
  padding: 90px 0;
  background-image: url("./images/banner-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .connect .col-lg-4 {
  max-width: calc(33% - 10px);
} */

section.connect .overlay-bg {
  background: linear-gradient(
    12deg,
    rgba(2, 0, 36, 0.9) 0%,
    rgba(2, 90, 126, 0.5) 56%,
    rgb(43 120 239) 100%
  );
}

section.connect .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#connect .lower-content h5 {
  position: relative;
  margin-top: 20px;
  font-weight: 800;
  position: relative;
  margin-bottom: 40px;
}

#connect .lower-content h5::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #3241ff;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#connect .news-block {
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 20%);
  background-color: #fff;
}

#connect .connect-wrap .news-block:nth-child(2) .image img {
  max-width: 69px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  section#connect {
    padding: 30px 25px !important;
  }
  .news-block {
    margin: 20px 30px;
  }
}

/*--------------------------------------------------------------
Testimonial 
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

q {
  font-size: 1.2rem;
}

q {
  font-weight: 500;
  line-height: 1.5rem;
}

.customer-revs {
  margin: 0 auto 0 auto;
  padding: 80px 0;
  background-color: #f9f9f9;
}

/* slideshow container */
.slideshow-container {
  position: relative;
  width: 60rem;
  max-width: 80%;
  margin: 0 auto;
}

.slideshow-container h1 {
  position: relative;
  color: #012068;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 20px;
  text-align: center;
}

.slideshow-container h1::after {
  position: absolute;
  background-color: #012068;
  width: 40px;
  height: 3px;
  content: "";
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}

.slideshow-container h1 span {
  color: #3241ff;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

/* Slides */
.mySlides {
  display: none;
  padding: 1.3rem 5rem;
  text-align: center;
}

.mySlidesContainer {
  min-height: 5rem;
  padding: 1.5rem 2.5rem 2rem 3.5rem;
}

/* next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: 0.125rem;
  padding: 1rem;
  color: #232323;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s;
}

/* position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(1, 32, 104, 0.8);
  color: #fff !important;
  text-decoration: none;
}

.dot-container {
  text-align: center;
  padding: 0 1.25rem;
}

.dot {
  height: 0.9375rem;
  width: 0.9375rem;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
  background-color: #3241ff;
}

.dot-active {
  background-color: #012068;
}

.mySlides {
  position: relative;
}

.mySlides::before {
  background-image: url("./images/qoutes.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px;
  transform: rotate(341deg);
  position: absolute;
  content: "";
  z-index: -1;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.mySlidesContainer .slide-img img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .mySlidesContainer {
    min-height: 5rem;
    padding: 1.5rem 0 2rem 0;
  }

  .mySlides {
    padding: 1.3rem 3.3rem;
  }

  .customer-revs {
    padding: 0px;
  }
}

/*--------------------------------------------------------------
news section 
--------------------------------------------------------------*/
.news-section {
  position: relative;
  padding-top: 85px;
  padding-bottom: 95px;
}

.sec-title.centered {
  text-align: center;
}

.sec-title {
  position: relative;
  margin-bottom: 50px;
}

.news-section .sec-title h2:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 3px;
  background-color: #012068;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news-section .news-block {
  padding: 0px;
  float: left;
  position: relative;
  margin-bottom: 30px;
}

.news-block .inner-box {
  position: relative;
}

.news-block .inner-box .image {
  position: relative;
  overflow: hidden;
}

#news-section .news-block .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  height: 245px;
  object-fit: fill;
}

.news-block .inner-box .image .overlay-box {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.news-block .inner-box:hover .image .overlay-box:before {
  left: 0%;
}

.news-block .inner-box .image .overlay-box:before {
  position: absolute;
  content: "";
  left: -100%;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  display: block;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  background: -ms-linear-gradient(top, #3140fc 0%, #0b1599 100%);
  background: -moz-linear-gradient(top, #3140fc 0%, #0b1599 100%);
  background: -o-linear-gradient(top, #3140fc 0%, #0b1599 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #3140fc),
    color-stop(100, #0b1599)
  );
  background: -webkit-linear-gradient(top, #3140fc 0%, #0b1599 100%);
  background: linear-gradient(to bottom, #3140fc 0%, #0b1599 100%);
}

.news-block .inner-box .image .overlay-box .plus {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 54px;
  height: 54px;
  color: #012068;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  margin-left: -27px;
  margin-top: -27px;
  transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  display: inline-block;
  background-color: #ffffff;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.news-block .inner-box:hover .image .overlay-box .plus {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  text-decoration: none;
}

#news-section .news-block .inner-box .lower-content {
  position: relative;
  padding: 30px 30px;
  background: -webkit-linear-gradient(
    left,
    rgba(235, 235, 235, 1),
    rgba(255, 255, 255, 0.9)
  );
  background: -moz-linear-gradient(
    left,
    rgba(235, 235, 235, 1),
    rgba(255, 255, 255, 0.9)
  );
  background: -o-linear-gradient(
    left,
    rgba(235, 235, 235, 1),
    rgba(255, 255, 255, 0.9)
  );
  background: -ms-linear-gradient(
    left,
    rgba(235, 235, 235, 1),
    rgba(255, 255, 255, 0.9)
  );
}

.news-block .inner-box .lower-content .post-date {
  position: relative;
  color: #0b1598;
  font-size: 14px;
  margin-bottom: 8px;
}

.news-block .inner-box .lower-content h5 {
  position: relative;
  font-weight: 700;
  line-height: 1.6em;
  margin-bottom: 13px;
  text-decoration: none;
}

.news-block .inner-box .lower-content h5 a:hover {
  text-decoration: none;
  color: #3241ff;
}

.news-block .inner-box .lower-content h5 a {
  position: relative;
  color: #012068;
  transition: all 500ms ease;
}

.news-block .inner-box .lower-content .text {
  position: relative;
  color: #1a1e66;
  font-size: 16px;
  line-height: 1.6em;
}

.news-section .btn-box {
  position: relative;
  margin-top: 20px;
}

.news-section .btn-style-one {
  position: relative;
  padding: 14px 72px 14px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
}

.news-section .btn-style-one:hover {
  background: none;
  border-color: #3241ff;
  color: #3241ff;
  text-decoration: none;
}

.news-section .btn-style-one .icon {
  position: absolute;
  right: -2px;
  top: -2px;
  color: #ffffff;
  width: 57px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding-right: 4px;
  background-color: #091394;
  border-radius: 0px 50px 50px 0px;
}

/*--------------------------------------------------------------
news section 
--------------------------------------------------------------*/
section.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  font-family: Roboto;
  padding: 80px 0;
}

.challenge h2::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 3px;
  background-color: #012068;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gal-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.challenge .item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1% 1%;
  min-width: 200px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.challenge .item:hover {
  cursor: pointer;
}

.challenge .item * {
  transition: all 0.35s ease-in-out;
}

.challenge img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
  border-radius: 5px;
}

.challenge .item:hover img {
  opacity: 0;
}

.gal-container .text {
  width: 80%;
  height: 90%;
  position: absolute;
  top: -110px;
  left: 10%;
  color: #1a1e66;
}

.challenge .item:hover .text {
  top: 20%;
}

.challenge .item:hover .text p {
  margin-top: 15px;
  margin-bottom: 5px;
}

.challenge .item:hover .button {
  bottom: 20%;
}

.challenge .item .button {
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #3241ff;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.challenge .button:hover {
  background-color: #3241ff;
  color: #f5f5f5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f5f5f5;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.challenge .scale {
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#img {
  width: 100%;
  height: 450px;
}

#details {
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details * {
  transition: all 0.3s;
}

#title {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button {
  position: absolute;
  width: 30%;
  background-color: #01a2ac;
  color: #f5f5f5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i {
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01a2ac;
}

#details .button:hover,
i:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}

.challenge .btn-box {
  position: relative;
  margin-top: 50px;
}

.challenge .btn-style-one {
  position: relative;
  padding: 14px 72px 14px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
}

.challenge .btn-style-one .icon {
  position: absolute;
  right: -2px;
  top: -2px;
  color: #ffffff;
  width: 57px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding-right: 4px;
  background-color: #091394;
  border-radius: 0px 50px 50px 0px;
}

.btn-style-one:hover {
  background: none;
  border-color: #3241ff;
  color: #3241ff;
  text-decoration: none;
  outline: none !important;
}

/*--------------------------------------------------------------
Accordion section 
--------------------------------------------------------------*/
section.accordion {
  padding: 80px 0;
}

.accordion .menu {
  margin: 0 auto;
}

.accordion label {
  display: block;
  margin: 0 0 4px 0;
  padding: 15px 15px 15px 0;
  line-height: 1;
  cursor: pointer;
  border-bottom: 2px solid #cacaca;
}

.question {
  position: relative;
}

.accordion input {
  display: none;
}

.accordion .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion .menu li {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  font-size: 16px;
}

.accordion #icon span {
  position: absolute;
  top: 20px;
  right: 11px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: blue;
  border-radius: 22px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
}

.accordion #icon span::before {
  display: block;
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 10px;
  height: 2px;
}

.accordion #icon span::after {
  display: block;
  position: absolute;
  content: "";
  top: 6px;
  left: 10px;
  width: 2px;
  height: 10px;
}

/*Open tab*/

#type1:checked ~ #links1 li,
#type2:checked ~ #links2 li,
#type3:checked ~ #links3 li {
  height: 65px;
  opacity: 1;
  padding-top: 15px;
}

.accordion .btn-box {
  margin-top: 10px;
}

.accordion .btn-style-one {
  position: relative;
  padding: 14px 30px 14px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
  margin-top: 25px;
}

.accordion .text-center {
  text-align: left !important;
}

/*Style open tab*/

#type1:checked ~ label #icon span::after,
#type2:checked ~ label #icon span::after,
#type3:checked ~ label #icon span::after {
  width: 0;
}

#type1:checked ~ label,
#type2:checked ~ label,
#type3:checked ~ label {
  color: #fff;
  border-bottom: 2px solid #cacaca;
}

#type1:checked ~ label #icon span::before,
#type2:checked ~ label #icon span::before,
#type3:checked ~ label #icon span::before {
  background: #3241ff;
}

#type1:checked ~ label #icon span,
#type2:checked ~ label #icon span,
#type3:checked ~ label #icon span {
  border: 1px solid #3241ff;
}

/*--------------------------------------------------------------
Info section 
--------------------------------------------------------------*/
.map-info-section .outer-container {
  position: relative;
}

.map-info-section .outer-container .left-column {
  position: absolute;
  width: 50%;
  left: 0px;
  height: 100%;
  float: left;
}

.map-info-section .left-column {
  background-image: url("./images/map.webp");
  background-position: center center;
  background-size: cover;
}

.map-info-section .outer-container .left-column .map-outer .map-canvas {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100%;
  min-height: 400px;
}

.map-info-section .outer-container .right-column {
  position: relative;
  width: 50%;
  float: right;
  background-image: url("./images/cta.jpg");
}

.map-info-section .outer-container .right-column:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 4, 9, 0.84);
}

.map-info-section .outer-container .right-column .content {
  position: relative;
  max-width: 600px;
  float: left;
  width: 100%;
  padding: 85px 15px 80px 80px;
}

.map-info-section .outer-container .right-column .content h2 {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.3em;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.map-info-section .outer-container .right-column .content h2:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
}

.map-info-section .outer-container .right-column .content .text {
  position: relative;
  color: #ebecfe;
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 25px;
}

.quote-form {
  position: relative;
}

.quote-form .row {
  margin: 0px -4px;
}

.quote-form .form-group {
  position: relative;
  margin-bottom: 8px;
  padding: 0px 4px;
}

.quote-form .form-group input[type="text"],
.quote-form .form-group input[type="tel"],
.quote-form .form-group input[type="email"],
.quote-form .form-group select {
  position: relative;
  display: block;
  width: 100%;
  line-height: 28px;
  padding: 10px 20px;
  color: #333333;
  height: 50px;
  font-size: 15px;
  border-radius: 4px;
  background: #ffffff;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.map-info-section .quote-form button {
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.map-info-section .btn-style-one {
  position: relative;
  padding: 10px 72px 10px 30px;
  line-height: 24px;
  background: #3241ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 7px;
  border: 2px solid #3241ff;
  text-transform: capitalize;
  font-family: "Muli", sans-serif;
}

.map-info-section .theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.map-info-section .quote-form button .icon {
  border-radius: 0px 5px 5px 0px;
}

.map-info-section .btn-style-one .icon {
  position: absolute;
  right: -2px;
  top: -2px;
  color: #ffffff;
  width: 57px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding-right: 4px;
  background-color: #091394;
  border-radius: 0px 50px 50px 0px;
}

.map-info-section .btn-style-one:hover {
  background: none;
  border-color: #3241ff;
  color: #3241ff;
}

@media screen and (max-width: 768px) {
  .left-column {
    height: 400px;
  }
}
/*--------------------------------------------------------------
Footer section 
--------------------------------------------------------------*/
.main-footer {
  position: relative;
  padding: 95px 0px 0px;
  background-color: #011a55;
}

.main-footer:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 543px;
  height: 368px;
  background: url("./images/footer-pattern-2.png") no-repeat;
}

.main-footer:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  width: 505px;
  height: 334px;
  background: url("./images/footer-pattern-1.png") no-repeat;
}

.main-footer .widgets-section {
  position: relative;
  padding-bottom: 40px;
}

.main-footer .logo-widget {
  position: relative;
}

.main-footer .footer-widget {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.main-footer .logo-widget .logo {
  position: relative;
  margin-bottom: 25px;
}

.main-footer .logo-widget .text {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9em;
  margin-bottom: 30px;
}

.list-style-two li {
  position: relative;
  color: #afd3f3;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 25px;
}

.list-style-two li .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #3276ff;
  font-size: 14px;
}

.main-footer .footer-widget h4 {
  position: relative;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2em;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.list-link {
  position: relative;
}

.list-link li {
  position: relative;
  margin-bottom: 15px;
}

.list-link li a {
  position: relative;
  color: #afd3f3;
  font-size: 14px;
  padding-left: 15px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.list-link li a:before {
  position: absolute;
  content: "\f105";
  left: 0px;
  top: 0px;
  font-family: "FontAwesome";
}

.list-link li a:hover {
  color: #ffffff;
  margin-left: 8px;
  text-decoration: underline;
}

/* footer bottom */
.main-footer .footer-bottom {
  position: relative;
  padding: 18px 0px;
  background-color: #020f2f;
}

.main-footer .footer-bottom .copyright-column {
  position: relative;
}

.main-footer .footer-bottom .copyright-column .copyright {
  position: relative;
  color: #afd3f3;
  font-size: 14px;
}

.main-footer .footer-bottom .social-column {
  position: relative;
  text-align: right;
}

.main-footer .footer-bottom .social-column ul {
  position: relative;
}

.main-footer .footer-bottom .social-column ul li.follow {
  color: #7f97ad;
  font-size: 14px;
}

.main-footer .footer-bottom .social-column ul li {
  position: relative;
  margin-left: 8px;
  display: inline-block;
}

.main-footer .text ul li {
  font-size: 25px;
  margin-right: 5px;
  margin-top: 10px;
}
